.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.row {
  display: flex;
}

.tile {
  width: 80px; /* Increased width */
  height: 80px; /* Increased height */
  border: 2px solid #ccc;
  cursor: pointer;
  font-size: 40px; /* Increased font size for emojis */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px; /* Added margin to space tiles out more */
}

.winner-message {
  margin-top: 20px;
  font-size: 36px; /* Enlarged winner message font size */
  font-weight: bold;
  color: green;
}
